.admin-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding: 0 20px;
  
}

.admin-form {
  width: 100%;
  max-width: 600px;
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.admin-title {
  text-align: center;
  margin-bottom: 15px;
  font-size: 1.5rem;
}

.admin-input-group {
  margin-bottom: 10px;
}

.admin-button-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
}

.admin-button,
.admin-link-button {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.no-underline,
.no-underline:hover,
.no-underline:focus,
.admin-link-button .btn-link {
  text-decoration: none !important;
  color: #007bff !important;
}

@media (max-width: 768px) {
  .admin-form {
    padding: 15px;
  }

  .admin-title {
    font-size: 1.3rem;
  }
}

@media (max-width: 480px) {
  .admin-container {
    width: 100%;
  }
}