.registrationContainer {
    margin-top: 15%;
}

.registrationBottomBtn {
    margin-top: 10%;
}

.registrationInput {
    width: 90%;
    margin: auto;
    border-radius: 25px;
}

@media screen and (max-width: 768px) {
    .registrationInput {
        width: 80%;
        margin: auto;
    }
    .registrationBottomBtn {
        margin-top: 10%;
    }
  }

@media screen and (max-width: 535px) {
    .registrationBottomBtn {
        margin-top: 5%;
    }
  }