.dashboardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

.dashboardBtn {
    min-height: 150px;
    min-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

