.forgot-password-container {
    margin-top: 5px;
    text-align: center;
    font-size: 0.9rem;
}

.forgot-password-container a {
    color: #007bff;
    text-decoration: none;
}

.forgot-password-container a:hover {
    text-decoration: underline;
}