.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  padding: 0 10px;
}

.mainButton {
  min-width: 250px;
  height: 78px;
  margin-bottom: 0;
  margin-right: 20px;
}

.mainButton:last-child {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .buttonContainer {
    flex-direction: column;
  }

  .mainButton {
    width: 100%;
    max-width: 380px;
    margin-bottom: 20px;
  }
}

