.buttonContainer {
  margin-top: 30%;
}

@media screen and (max-width: 992px) {
  .buttonContainer {
    margin-top: 40%;
  }
}

@media screen and (max-width: 768px) {
  .buttonContainer {
    margin-top: 50%;
  }
}

@media screen and (max-width: 600px) {
  .buttonContainer {
    margin-top: 60%;
  }
}

@media screen and (max-width: 480px) {
  .buttonContainer {
    margin-top: 70%;
  }
}

.mainButton {
  min-width: 50%;
  margin: auto;
}