@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 20px;
}

.home-content {
  width: 100%;
  max-width: 600px;
  text-align: center;
}

.home-subtitle {
  margin-bottom: 10px;
  color: #6c7273;
  width: 100%;
  animation: fadeInLeft 2s ease-in-out;
}

.home-title {
  margin-top: 0;
  margin-bottom: 20px;
  color: #343a40;
  width: 100%;
  animation: fadeInRight 2s ease-in-out;
}

.home-title-think {
  color: #ffc107; /* Bootstrap warning color */
}

.home-title-safety {
  color: #54b4d3; /* Bootstrap info color */
}

.home-button-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  opacity: 0; /* Initially hidden */
  animation: fadeIn 1s ease-in-out 2s forwards; /* Fade in after 2 seconds */
}

.home-button-link {
  text-decoration: none;
  width: 100%;
  display: flex;
  justify-content: center;
}

.home-button {
  width: 80%;
  height: 60px;
  font-size: 1.1rem;
}

@media (max-width: 576px) {
  .home-title {
    font-size: 1.5rem;
  }

  .home-button {
    height: 50px;
    font-size: 1rem;
  }
}
