.formContainer {
    margin-top: 25%;
}

.loginInput {
  width: 90%;
  margin: auto;
  border-radius: 25px;
}

.login-btn-container {
  margin-top: 5%;
}

.login-btn {
  min-width: 250px;
  min-height: 50px;
}

@media screen and (max-width: 992px) {
    .formContainer {
      margin-top: 30%;
    }
  }
  
  @media screen and (max-width: 768px) {
    .formContainer {
      margin-top: 35%;
    }
  }
  
  @media screen and (max-width: 600px) {
    .formContainer {
      margin-top: 45%;
    }
  }
