/* AssignCourseModal.css */
.modal-body .form-control {
  color: #000;
  background-color: #fff;
}

.modal-body .form-control option {
  color: #000;
  background-color: #fff;
}

.custom-modal-dialog {
  max-width: 60% !important;
  width: 60% !important;
  margin: 1.75rem auto;
}

.custom-modal-content {
  max-height: 90vh;
}

@media (max-width: 768px) {
  .custom-modal-dialog {
    max-width: 95% !important;
    width: 95% !important;
  }
}
