.card-body-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.moduleCardImg {
    min-width: 200px;
    margin: auto;
    padding: auto;
}

.course-card {
    border-radius: 15px;
}

.card-text {
    margin-bottom: 
}