.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-open {
  padding-bottom: 0;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar a {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.navbar-logo {
  height: 35px;
  margin-right: 10px;
}

.navbar-company-name {
  font-size: 1.4rem;
}

.navbar-company-think {
  color: #ffc107; /* Bootstrap warning color */
}

.navbar-company-safety {
  color: #54b4d3; /* Bootstrap info color */
}

.navbar-links {
  display: flex;
  gap: 15px;
}

.nav-item {
  position: relative;
}

.nav-link {
  color: #333;
  font-weight: 700;
}

.nav-link:hover {
  color: #54b4d3;
}

.navbar-links-text {
  opacity: 0.8;
}

.burger-menu {
  display: none;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
  margin-left: auto;
}

@media (max-width: 768px) {
  .navbar-links {
    display: none;
    flex-direction: column;
    gap: 0;
    width: 100%;
    text-align: center;
  }

  .navbar-links.open {
    display: flex;
    border-top: 1px solid #ddd;
  }

  .navbar-links .nav-link {
    width: 60%;
    height: 40px;
    margin: 0 auto;
    border-bottom: 1px solid #54b4d3;
  }
  .navbar-links .nav-link:last-child {
    border-bottom: none;
  }

  .burger-menu {
    display: block;
  }
}