.navbar {
  flex: 0 0 auto;
  height: 60px;
  padding: 0 1rem; 
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  margin: 10px;
}

.navbar-title {
  margin-left: 3%;
  line-height: 60px; 
  margin-bottom: 0; 
  align-self: center; 
}

.burger-menu {
  margin-right: 3%;
  align-self: center; 
}

.navbar-anchor {
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar-anchor .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40px; 
  max-height: 40px;
  min-width: 100px;
  max-width: 150px;
  line-height: 40px; 
}

@media (max-width: 768px) {
  .navbar-title {
    line-height: normal;
    margin-left: 3%;
    text-align: left;
    align-self: center;
  }

  .burger-menu {
    margin-right: 0;
    align-self: center;
  }

  .navbar-anchor {
    width: 100%;
    justify-content: center;
  }

  .navbar-anchor .btn {
    width: 100%;
    min-width: 0;
    margin-left: 0;
    margin-bottom: 10px;
  }

  .navbar .nav {
    flex-direction: column;
  }
}

.offcanvas-customization {
  max-width: 300px;
  height: 220px;
  border-radius: 25px;
}
