.table-container {
    margin: 0 1% auto;
}

.custom-table tbody tr:hover {
    background-color: rgba(23, 162, 184, 0.1); /* Transparent background color on hover */
}
  
.custom-table tbody td,
.custom-table thead th {
    border-color: #17a2b8; /* Border color matching outline-info button */
}
  
.table-row:hover {
    background-color: rgba(23, 162, 184, 0.1); /* Transparent background color on hover */
}
  
.table-row td {
    border-color: #17a2b8; /* Border color matching outline-info button */
    
}

.table-vertical-center {
    vertical-align: middle
}

.button-25 {
    min-width: 15%;
}