.table-container {
    margin: 0 1% auto;
}

.custom-table tbody td,
.custom-table thead th {
    border-color: #17a2b8; /*  Border color matching outline-info button */
    padding: 8px 15px; /* Uniform padding for better alignment */
}

.table-vertical-center {
    vertical-align: middle;
}

.button-25 {
    min-width: 15%;
}

.custom-table thead th {
    background-color: #f8f9fa; /* Light background for header */
    text-align: center;
    padding: 10px 15px; /* Reduce padding for a more compact look */
    font-weight: bold;
}

.custom-table tbody tr {
    background-color: #fff; /* White background for table rows */
    transition: background-color 0.3s ease; /* Smooth transition on hover */
}

.student-list-btn {}